<div class="sidenav">
    <a href="#about">About</a>
    <a href="#services">Services</a>
    <a href="#clients">Clients</a>
    <a href="#contact">Contact</a>
</div>

<div class="main">
    <nav class="navbar navbar-light bg-light">
        <form class="form-inline">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </nav>

<!-- <button style="margin-left: 20px;margin-right: 20px;" type="button" class="btn btn-warning" data-target="#column" data-toggle="modal"> 
    new column
</button> -->

<div class="modal fade" id="column" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">New Column</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label for="recipient-name" class="col-form-label">Column Name:</label>
                <input type="text" class="form-control" id="recipient-name" [(ngModel)]="columns_name">
              </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="AddNewColumn()">Create</button>
        </div>
      </div>
    </div>
  </div>




<!-- Button trigger modal -->

    <button type="button" style="float: right;" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    + Add New Task
    </button>

  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Adding New Task</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label for="recipient-name" class="col-form-label">Title:</label>
                <input type="text" class="form-control" id="recipient-name" [(ngModel)]="title">
              </div>
              <div class="form-group">
                <label for="message-text" class="col-form-label">Description:</label>
                <textarea class="form-control" id="message-text" [(ngModel)]="desc"></textarea>
              </div>
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">select user</label>
                <input type="text" class="form-control" id="recipient-name" [(ngModel)]="select_user">
              </div>
              <div class="form-group">
                <div class="input-group">
                  <input class="form-control" placeholder="yyyy-mm-dd"
                         name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
                  </div>
                </div>
              </div>
              <div *ngIf="validateError" class="alert alert-danger" role="alert">
                Please fill in Title and  Description.
              </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="AddNewTask()">Save changes</button>
        </div>
      </div>
    </div>
  </div>

 

<!-- <div class="container">
    <div class="row" >
        <div *ngFor="let row of data" class="col-xs-6" style="margin-left: 20px;">
            <div *ngFor="let item of row" class="">
                    {{ item.id + ': ' + item.name }}
            </div>
        
        </div>   
    </div> 
</div> -->


<!-- <div
      cdkDropList
      [cdkDropListData]="data[0]"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of data[0]" cdkDrag>{{ item }}</div>
</div>


<div
      cdkDropList
      [cdkDropListData]="data[1]"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of data[1]" cdkDrag>{{item}}</div>
</div> -->


<div cdkDropListGroup style="margin: 50px;">
    <div class="example-container" *ngFor="let row of columns">
        <div style="font-size: larger;font-weight: bold;">{{row.name}}</div>
        <div
            cdkDropList
            [cdkDropListData]="data[row.id]"
            class="example-list"
            (cdkDropListDropped)="drop($event)">
            <div class="card" *ngFor="let item of data[row.id]" cdkDrag style="width: 18rem;margin-top: 5px;">
                <div class="card-body">
                  <h5 class="card-title">{{item.title}}</h5>
                  <p class="card-text">{{item.desc}}</p>
                  <a type="button" (click)="showDetails(item)" class="btn btn-primary" data-target="#showdetails" data-toggle="modal">Show Details</a>
                </div>
            </div>
        </div>
        
    </div>


    <button style="margin: 20px;" type="button" class="btn btn-warning" data-target="#column" data-toggle="modal"> 
        Add New Column
    </button>

    
  
    
    <!-- <div class="example-container">
      <h2>Done</h2>
  
      <div
        cdkDropList
        [cdkDropListData]="data[1]"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of data[1]" cdkDrag>{{ item.id + ': ' + item.name }}</div>
      </div>
    </div> -->
  </div>


  <div *ngIf="showing_details" class="modal fade" id="showdetails" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{showing_details.title}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <h5>Description: </h5>
                <label for="recipient-name" class="col-form-label">{{showing_details.desc}}</label>
                <h5>User: </h5>
                <label for="recipient-name" class="col-form-label">{{showing_details.select_user}}</label>
                <h5>Date: </h5>
                <label for="recipient-name" class="col-form-label">{{showing_details.date.day }}/{{showing_details.date.month }}/{{ showing_details.date.year }}</label>
                <!-- <input type="text" class="form-control" id="recipient-name" [(ngModel)]="columns_name"> -->
              </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>